*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* ================================================================= */

body {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    color: #a1a1a1;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1176px;
    margin: 0px auto;
    padding: 70px 15px;
}

.title {
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 52px;
    font-weight: 800;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #43cec6;
}

.subtitle {
    margin-bottom: 30px;
    font-family: 'Gabriela', serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    line-height: 127%;
    color: #162c5a;
}

.button {
    display: inline-block;
    border-radius: 50px;
    background-color: #ffd223;
    line-height: 1;
    font-size: 12px;
    font-weight: 800;
    padding: 16px 32px 14px;
    font-family: nunito, sans-serif;
    text-transform: uppercase;
    color: #162c5a;
}

.button:hover {
    background-color: #162c5a;
    color: #f7f7f7;
    transition: 0.3s;
}

/* PC */
@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
        padding: 60px 15px;
    }

    body {
        font-size: 13px;
    }

    .title {
        margin-bottom: 25px;
        font-size: 48px;
    }

    .subtitle {
        margin-bottom: 25px;
        font-size: 28px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 40px 15px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    [class*="__container"] {
        padding: 30px 15px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 32px;
    }

    .subtitle {
        margin-bottom: 20px;
        font-size: 22px;
    }
}

/* ============================Header========================================= */

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: #ffffff;
    box-shadow: 40px 15px 100px rgba(0, 0, 0, 0.2);
}

.header__container {
    padding: 0px 15px;
}

.navbar__wrap {
    display: flex;
    min-height: 150px;
    align-items: center;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

.header__logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.header__menu {
    display: flex;
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin: 0 40px 0 0;
}

.menu__link {
    font-size: 14px;
    color: #a1a1a1;
}

.menu__link:hover {
    color: #43cec6;
    transition: 0.3s;
}

.header__button:hover {
    background-color: #43cec6;
}

/* TABLET */

@media (max-width: 991.98px) {

    /* ================BURGER=============== */

    .menu__list {
        display: none;
    }

    .header__button {
        display: flex;
        flex: 1 1 100%;
        padding: 16px 60px 14px;
        margin-right: 20px;
        margin-left: 30px;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: stretch;
    }


    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        padding: 10px 10px;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 4px auto;
        background-color: #162c5a;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        top: 150px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #43cec6;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .popup.open {
        left: 0px;
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 50px 0;
        overflow: auto;
    }

    .popup .menu__list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .popup .menu__item {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .popup .menu__link {
        font-size: 18px;
        font-weight: 500;
        color: #F9F9F9;
    }

    .popup .menu__link:hover {
        color: #162c5a;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }
}

/* MOBILE */

@media (max-width: 767.98px) {

    .navbar__wrap {
        min-height: 120px;
    }

    .header__logo {
        width: 100px;
        height: 100px;
    }

    .popup {
        top: 120px;
    }
}

/* MOBILE SMALL */

@media (max-width: 479.98px) {
    .header__button {
        padding: 16px 50px 14px;
    }
}

/* =========================bg=================================== */

.bg {
    height: 100vh;
    background-image: url(../img/family-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 800px;
}

.bg:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    /* background-color: rgba(22, 44, 90, 0.3); */
    /* background-color: rgba(22, 44, 90, 0.2); */
    background-color: rgba(67, 206, 198, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.bg__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg__main-title {
    width: 55%;
    /* margin-top: 200px;
    margin-bottom: 60px; */
    padding: 20px 0;
    font-family: 'Gabriela', serif;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    line-height: 127%;
    color: #f8f8f8;
    color: #162c5a;
    text-transform: uppercase;
    z-index: 20;
}

.bg__container span {
    color: #ffd223;
}

.bg__button {
    z-index: 20;
}

/* =========================DIRECTIONS=================================== */

.directions__container {
    display: flex;
    flex-direction: column;
}

.directions__content {
    display: flex;
    justify-content: center;
    position: relative;
}

.directions__center {
    position: absolute;
    bottom: 27%;
    width: 250px;
    height: 290px;
    background-image: url(../img/directions/girl.jpg);
    background-repeat: no-repeat;
    background-size: 250px, 290px;
    background-size: contain;
    background-position: top;
    text-align: center;
    border-radius: 50%;
}

.directions_wrapper {
    position: relative;
    height: 570px;
    width: 450px;
    text-align: center;
}

.directions__text {
    color: #162c5a;
    font-family: 'Gabriela', serif;
    font-size: 12px;
    position: relative;
    top: 225px;
}

.cards_wrapper {
    position: absolute;
    left: calc(50% - 75px);
    height: 50%;
    transform-origin: 50% 85%;
}

.cards_wrapper:nth-child(1) {
    transform: rotate(36deg);
}

.cards_wrapper:nth-child(2) {
    transform: rotate(72deg);
}

.cards_wrapper:nth-child(3) {
    transform: rotate(108deg);
}

.cards_wrapper:nth-child(4) {
    transform: rotate(144deg);
}

.cards_wrapper:nth-child(5) {
    transform: rotate(180deg);
}

.cards_wrapper:nth-child(6) {
    transform: rotate(216deg);
}

.cards_wrapper:nth-child(7) {
    transform: rotate(252deg);
}

.cards_wrapper:nth-child(8) {
    transform: rotate(288deg);
}

.cards_wrapper:nth-child(9) {
    transform: rotate(324deg);
}

.cards_wrapper:nth-child(10) {
    transform: rotate(360deg);
}

.card {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    width: 140px;
    transform-origin: 50% 10px;
}

.cards_wrapper:nth-child(1) .card {
    transform: rotate(-36deg);
}

.cards_wrapper:nth-child(2) .card {
    transform: rotate(-72deg);
}

.cards_wrapper:nth-child(3) .card {
    transform: rotate(-108deg);
}

.cards_wrapper:nth-child(4) .card {
    transform: rotate(-144deg);
}

.cards_wrapper:nth-child(5) .card {
    transform: rotate(-180deg);
}

.cards_wrapper:nth-child(6) .card {
    transform: rotate(-216deg);
}

.cards_wrapper:nth-child(7) .card {
    transform: rotate(-252deg);
}

.cards_wrapper:nth-child(8) .card {
    transform: rotate(-288deg);
}

.cards_wrapper:nth-child(9) .card {
    transform: rotate(-324deg);
}

.cards_wrapper:nth-child(10) .card {
    transform: rotate(-360deg);
}

.card_img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

/* MOBILE */
@media (max-width: 767.98px) {
    .card_img {
        width: 50px;
        height: 50px;
    }

    .card {
        height: 100px;
        width: 110px;
    }

    .cards_wrapper {
        left: calc(50% - 60px);
        top: 30px;
        height: 25%;
        transform-origin: 50% 143%;
        line-height: 10px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .card_img {
        width: 40px;
        height: 40px;
    }

    .directions__center {
        bottom: 40%;
        width: 135px;
        height: 143px;
        background-size: 150px, 190px;
    }

    .card {
        height: 50px;
        width: 50px;
        transform-origin: 50% 10px;
    }

    .cards_wrapper {
        left: calc(50% - 27px);
        top: 20px;
        height: 25%;
        transform-origin: 50% 150%;
        font-size: 9px;
        line-height: 10px;
    }

    .directions__text {
        font-size: 9px;
        position: relative;
        top: 135px;
        line-height: 12px;
    }

    .directions_wrapper {
        height: 400px;
    }
}

/* =========================News======================================= */

.news__container {
    background-image: url(../img/numbered_services_bg.jpg);
    background-size: cover;
}

.news__title {
    color: #F9F9F9;
    text-align: center;
}

.news__subtitle {
    text-align: center;
}

.news__items {
    display: flex;
}

.news__item {
    flex: 0 1 33.333%;
}

.item-news {
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.item-news:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    margin-top: -0px;
}

.item-news:not(:last-child) {
    margin: 0 30px 0 0;
}

.item-news__image {
    background-color: #a1a1a1;
    width: 100%;
    height: 250px;
}

.item-news__title {
    font-family: 'Gabriela', serif;
    color: #162c5a;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
}

.item-news__text {
    opacity: 0.9;
    padding: 20px;
}

.link {
    font-family: 'Gabriela', serif;
    color: #162c5a;
}

.link:hover {
    color: #43cec6;
}

/* =========================Team======================================= */
.team__title {
    text-align: center;
    margin-bottom: 60px;
}

.team__items {
    display: flex;
    flex-wrap: wrap;
}

.team__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.3%;
}

.item-team {
    text-align: center;
    margin-bottom: 30px;
}

.item-team:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.item-team__image {
    padding-left: 10px;
    padding-right: 10px;
}

.team__image {
    max-width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.team__image:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.7s;
}

.item-team__title {
    font-family: 'Gabriela', serif;
    color: #162c5a;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 40px;
}

.item-team__title:hover {
    color: #43cec6;
    cursor: pointer;
}

.item-team__text {
    opacity: 0.9;
    padding: 20px 20px 0 20px;
}

/* TABLET */
@media (max-width: 991.98px) {}

/* MOBILE */
@media (max-width: 767.98px) {
    .team__item {
        flex: 0 1 50%;
        position: relative;
        padding-bottom: 0px;
    }

    .item-team:hover {
        box-shadow: none;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .team__title {
        margin-bottom: 20px;
    }

    .team__item {
        flex: 0 1 100%;
        position: relative;
        width: calc(100% + 30px);
        overflow: hidden;
        flex-direction: column-reverse;
        display: flex;
    }

    .item-team__title {
        padding: 10px 0 20px 0;
    }

    .item-team__text {
        display: none;
    }

    .item-team:hover {
        box-shadow: none;
    }

    .team__image:hover {
        transform: scale(1);
    }
}

/* =========================Video======================================= */

.video__title {
    text-align: center;
    margin-bottom: 60px;
}

.video__content {
    width: 100%;
    max-width: 980px;
    margin: auto;
}

#video {
    width: 100%;
    position: relative;
}

#video-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#video-play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #ffd223;
    box-shadow: 0 0 0 4px #ffd223;
    z-index: 1;
    cursor: pointer;
    transition: .2s ease;
    transition-property: opacity, visibility;
}

#video-play::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 21px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-left-color: #162c5a;
    border-right-width: 0;
    transition: transform .2s ease;
}

#video-play:hover::before {
    transform: scale(1.2);
    border-left-color: #f2f2f2;
    transition: 0.3s;
}

#video video {
    width: 100%;
    display: block;
}

#video.video-is-playing #video-over {
    display: block;
}

#video.video-is-playing #video-play {
    opacity: 0;
    visibility: hidden;
}

#video-play:hover {
    background-color: #162c5a;
    box-shadow: 0 0 0 4px #162c5a;
    transition: 0.3s;
}

#myVideo {
    border-radius: 10px;
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .video__title {
        margin-bottom: 40px;
    }
}

/* =========================Contacts======================================= */

.contacts__container {
    display: flex;
    justify-content: space-between;
}

.contacts__content {
    flex: 0 0 45%;
    margin: 0 40px 0 0;
}

.contacts__title {
    text-align: left;
}

.contacts__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-contacts:not(:last-child) {
    margin: 0 0 22px 0;
}

.menu-contacts__title {
    font-weight: 800;
    text-transform: uppercase;
}

.menu-contacts__address {
    font-style: normal;
}

.tel {
    font-weight: 800;
    color: #ffd223;
}

.tel:hover {
    color: #162c5a;
    transition: 0.3s;
}

.email {
    font-weight: 800;
    color: #a1a1a1;
}

.email:hover {
    color: #162c5a;
    transition: 0.3s;
}

.contacts__maps {
    flex: 1 1 45%;
}

/* TABLET */
@media (max-width: 991.98px) {

    .contacts__container {
        flex-direction: column;
        display: flex;
    }

    .contacts__content {
        flex: 1 1 100%;
        margin: 0 0 40px 0;
    }

    .contacts__maps {
        flex: 1 1 400px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .contacts__maps {
        flex: 1 1 300px;
    }
}

/* =========================Footer======================================= */

.footer__container {
    display: flex;
    flex-direction: column;
    min-height: 280px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 15px;
}

.footer__logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.footer__menu {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.menu-footer {
    display: flex;
    text-transform: uppercase;
    font-weight: 800;
    justify-content: center;
}

.menu-footer__list {
    display: flex;
    justify-content: center;
}

.menu-footer__item {
    flex: 1 1 20%;
}

.menu-footer__item:not(:last-child) {
    margin: 0 40px 0 0;
}

.menu-footer__link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #a1a1a1;
}

.menu-footer__link:hover {
    color: #162c5a;
    transition: 0.3s;
}

.footer__social {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.social__item {
    width: 49px;
    height: 49px;
    background-color: #ffd223;
    border-radius: 50%;
}

.social__item:not(:last-child) {
    margin: 0 30px 0 0;
}

.social__item:hover {
    background-color: #162c5a;
    transition: 0.3s;
}

.footer__copyright {
    flex: 0 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

/* TABLET */
@media (max-width: 991.98px) {}

/* MOBILE */
@media (max-width: 767.98px) {
    .footer__logo {
        width: 80px;
        height: 80px;
    }

    .menu-footer__item:not(:last-child) {
        margin: 0 20px 0 0;
    }

    .menu-footer__link {
        font-size: 12px;
    }

    .social__item {
        width: 28px;
        height: 28px;
    }
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
    .menu-footer__list {
        flex-wrap: wrap;
    }

    .menu-footer__item:not(:last-child) {
        margin: 0 10px 0 0;
    }
}